.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tile_div a {
    display: block;
    float: left;
    height: 10px;
    text-decoration: none;
    width: 33.3%;
    margin-bottom: 100px;
}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}
